body {
    font-family: 'Poppins', sans-serif;
    width: 1024px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: #000000;
}


/*navigation*/

.topnav {
    width: 1024px;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    background: #F8F8F8;
}

.topnav a {
    margin: 7px;
    font-size: 14px;
    text-transform: uppercase;
}

.topnav a:hover {
    font-weight: bold;
}


/*home page*/

.home_bgd-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 750px;
    background: url("https://poster.nicefon.ru/2016_05/16/800x450/1097580803018010417a2.jpg");
    background-size: cover;
    text-transform: uppercase;
}

.home_text p {
    display: flex;
    justify-content: center;
    font-size: 14px;
}

.home_text h1 {
    display: flex;
    justify-content: center;
    font-size: 36px;
    border: 1px solid #000000;
}


/*about me page*/

.aboutMe {
    display: flex;
    margin-top: 50px;
}

.aboutMe_text {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    height: 335px;
    background: #E9E9E9;
    text-align: justify;
}

.aboutMe_text h2 {
    display: flex;
    justify-content: flex-start;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 28px;
    padding: 0 30px;
    margin-top: 0;
}

.aboutMe_text .description {
    font-size: 12px;
    padding: 0 20px;
}

.aboutMe_text .contacts {
    background: #454545;
    color: #ffffff;
    font-size: 12px;
    padding: 0 30px;
}

.aboutMe .aboutMe_photo img {
    object-fit: cover;
    opacity: 0.7;
}


/*summary page*/

.summary_headline {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    margin-top: 30px;
    margin-bottom: 20px;
    background: #E9E9E9;
}

.summary_headline h2 {
    padding: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
    border: 1px solid #000000;
}

.summary_bgd-image {
    height: 400px;
    background: url("https://kvartblog.ru/uploads/post_photo/3701/13003/post_steps7be.jpg");
    background-size: cover;
    opacity: 0.6;
}


/*skills page*/

.skills_headline {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    margin-top: 30px;
    margin-bottom: 20px;
    background: #E9E9E9;
}

.skills_headline h2 {
    padding: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
    border: 1px solid #000000;
}

.chart-skills {
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
}

.chart-skills *,
.chart-skills::before {
    box-sizing: border-box;
}

.chart-skills {
    position: relative;
    width: 350px;
    height: 175px;
    overflow: hidden;
}

.chart-skills::before,
.chart-skills::after {
    position: absolute;
}

.chart-skills::before {
    content: '';
    width: inherit;
    height: inherit;
    border: 45px solid rgba(211, 211, 211, .3);
    border-bottom: none;
    border-top-left-radius: 175px;
    border-top-right-radius: 175px;
}

.chart-skills::after {
    content: '';
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
    font-size: 1.1rem;
    font-weight: bold;
    color: #000000;
}

.chart-skills li {
    position: absolute;
    top: 100%;
    left: 0;
    width: inherit;
    height: inherit;
    border: 45px solid;
    border-top: none;
    border-bottom-left-radius: 175px;
    border-bottom-right-radius: 175px;
    transform-origin: 50% 0;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    animation-fill-mode: forwards;
    animation-duration: .4s;
    animation-timing-function: linear;
}

.chart-skills li:nth-child(1) {
    z-index: 4;
    border-color: #ffb600;
    animation-name: rotate-one;
}

.chart-skills li:nth-child(2) {
    z-index: 3;
    border-color: #8FB38F;
    animation-name: rotate-two;
    animation-delay: .4s;
}

.chart-skills li:nth-child(3) {
    z-index: 2;
    border-color: #e94b35;
    animation-name: rotate-three;
    animation-delay: .8s;
}

.chart-skills li:nth-child(4) {
    z-index: 1;
    border-color: #454545;
    animation-name: rotate-four;
    animation-delay: 1.2s;
}

.chart-skills span {
    position: absolute;
    font-size: .85rem;
    backface-visibility: hidden;
    animation: fade-in .4s linear forwards;
}

.chart-skills li:nth-child(1) span {
    top: 5px;
    left: 10px;
    transform: rotate(-21.6deg);
}

.chart-skills li:nth-child(2) span {
    top: 20px;
    left: 10px;
    transform: rotate(-79.2deg);
    animation-delay: .4s;
}

.chart-skills li:nth-child(3) span {
    top: 18px;
    left: 10px;
    transform: rotate(-140.4deg);
    animation-delay: .8s;
}

.chart-skills li:nth-child(4) span {
    top: 10px;
    left: 10px;
    transform: rotate(-180deg);
    animation-delay: 1.2s;
}

@keyframes rotate-one {
    100% {
        transform: rotate(21.6deg);
    }
}

@keyframes rotate-two {
    0% {
        transform: rotate(21.6deg);
    }
    100% {
        transform: rotate(79.2deg);
    }
}

@keyframes rotate-three {
    0% {
        transform: rotate(79.2deg);
    }
    100% {
        transform: rotate(140.4deg);
    }
}

@keyframes rotate-four {
    0% {
        transform: rotate(140.4deg);
    }
    100% {
        transform: rotate(180deg);
    }
}

@keyframes fade-in {
    0%,
    90% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.other_skills h3 {
    display: flex;
    justify-content: center;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 400;
}

.other_skills p {
    display: flex;
    justify-content: center;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
}

.container {
    width: 1024px;
    height: 15px;
    background: #E9E9E9;
}

.communication_pc {
    background: #9B9BAB;
    width: 717px;
    height: 15px;
}

.lidership_pc {
    background: #618F66;
    width: 615px;
    height: 15px;
}

.creative_pc {
    background: #A55250;
    width: 717px;
    height: 15px;
}

.english_pc {
    background: #E5E343;
    width: 512px;
    height: 15px;
}


/*experience page*/

.experience_headline {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    margin-top: 30px;
    margin-bottom: 20px;
    background: #E9E9E9;
}

.experience_headline h2 {
    padding: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
    border: 1px solid #000000;
}

.experience_bgd-image {
    background: url("http://ic.pics.livejournal.com/dementievskiy/13523675/452843/452843_original.jpg");
    background-size: cover;
}

.experience_text .headline {
    margin: 20px 150px;
    padding-top: 10px;
    text-align: center;
    color: #ffffff;
}

.experience_text .task {
    display: flex;
    font-size: 14px;
    text-align: center;
    color: #ffffff;
}

.task p {
    border: 4px solid #ffffff;
    height: 135px;
    margin-right: 30px;
    padding: 10px;
}

.task .description_task1 {
    margin-left: 5px;
}

.task .description_task4 {
    margin-right: 5px;
}

.task a {
    display: flex;
    justify-content: center;
    margin-right: 30px;
    font-size: 12px;
    color: #ffffff;
    margin-bottom: 10px;
}

.task a:hover {
    font-weight: bold;
}

.task .link_task4 {
    margin-right: 0;
}


/*education page*/

.education_headline {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    margin-top: 30px;
    margin-bottom: 20px;
    background: #E9E9E9;
}

.education_headline h2 {
    padding: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
    border: 1px solid #000000;
}

.education_bgd-image {
    background: url("https://www.stihi.ru/pics/2014/01/03/652.jpg");
    background-size: cover;
}

.education_text .blocks {
    display: grid;
    grid-template-columns: 310px 310px;
    grid-template-rows: 340px 340px;
    grid-gap: 104px;
    margin-left: 150px;
    text-align: center;
    font-size: 14px;
    margin-bottom: 20px;
}

.blocks div {
    padding: 10px;
    margin: 10px 0 10px;
    border: 4px solid #ffffff;
    color: #ffffff;
}

.blocks a {
    font-size: 12px;
    color: #ffffff;
}

.blocks a:hover {
    font-weight: bold;
}

.footer {
    height: 50px;
    background: #454545;
}